@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .step-connector::before {
    content: '';
    position: absolute;
    left: 19px;
    top: 40px;
    bottom: 0;
    width: 2px;
    background-color: #e5e7eb;
  }
}
